body {
    margin: 0;
    color: #54370D
}

header {
    height: 128px;
    width: 100%;
    background-color: #4EA487;
    align-items: center;
    font-family: "arima", "sans-serif";
    font-weight: 700;
    font-size: 24px;
    padding-left: 146px;
    padding-top: 32px;
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    gap: 72px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.top-nav ul {
    display: flex;
    list-style: none;
    gap: 72px;
    margin: 0;
}

.top-nav img {
    height: 72px;
    width: 72px;
}

main {
    padding: 128px 120px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.link {
    text-decoration: none;
    color: #F8F5EB;
}

.link-green {
    text-decoration: none;
    color: #4EA487;
}

.link:hover {
    color: #F1C953;
    cursor: pointer;
}

.link-green:hover {
    color: #2d5f4f;
    cursor: pointer;
}

.headline-section {
    display: flex;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.headline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.headline-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    gap: 40px;
}

.headlines-main h2 {
    color: #4EA487;
    font-family: "palanquin";
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

h1 {
    color: #F1C953;
    font-family: "arima";
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}

.headlines-main h3 {
    font-family: "palanquin";
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}

.headline-subarea {
    display: flex;
    gap: 32px;
    font-family: "palanquin";
    font-weight: 400;
    font-size: 16px;
}

.author-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    align-items: center;
    flex: 0;
    min-width: 272px;
}

.author-name {
    font-weight: 700;
}

.avatar-img {
    width: 120px;
    height: 120px;
    ;
}

.destination-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-section h3 {
    font-family: "arima";
    font-size: 32px;
    font-weight: 600;
}

.destination-img-container {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    perspective: 1500px;
}

.destination-img {
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
    margin-left: -40px;
    transform-origin: center center;
    transition: all 0.3s ease;
}

.img1 {
    transform: rotateY(18deg);
}

.img2 {
    transform: rotateY(18deg);
}

.img3 {
    transform: rotateY(18deg);
}

.img4 {
    transform: rotateY(18deg);
}

.destination-img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
    z-index: 1;
    cursor: pointer;
}

.description-section {
    display: flex;
    flex-direction: column;
    gap: 88px;
    ;
    max-width: 1440px;
    margin: 0 auto;
}

.pro-tipps-section {
    position: relative;
}

.pro-tipps {
    background-color: #4EA487;
    width: 196px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1C953;
    font-size: 28px;
    font-family: "palanquin";
    font-weight: 700;
    border-radius: 10px;
    transform: rotate(-13.67deg);
    position: absolute;
    top: -86px;
    left: 0;
}

.padding-center {
    padding-left: 60px;
    padding-right: 60px;
}

.share-btn {
    display: flex;
    background-color: #4EA487;
    justify-content: center;
    align-items: center;
    color: #F1C953;
    border-radius: 40px;
    border: none;
    font-size: 24px;
    font-family: "arima";
    font-weight: 700;
    padding: 0 24px;
    width: 158px;
    height: 48px;
}

.share-btn:hover {
    background-color: #2d5f4f;
    cursor: pointer;
}

.share-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 493px;
    margin: 0 auto;
    font-family: "arima";
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    position: relative;
}

.share-symbol {
    height: 32px;
    width: 32px;
}

.share-arrow {
    position: absolute;
    bottom: 10px;
    left: 1px;
}

footer {
    display: flex;
    padding: 60px 120px;
    background-color: #4EA487;
    color: #ffffff;
    gap: 72px;
    font-size: 18px;
    font-family: "palanquin";
    font-weight: 400;
}

.footer-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.copyrights {
    display: flex;
    gap: 72px;
}

.social-media {
    display: flex;
    gap: 16px;
}

.social-media-logo {
    width: 32px;
    height: 32px;
}

.menu-btn {
    width: 40px;
    height: 40px;
    margin: 0;
}

.bottom-menu {
    display: flex;
    background-color: #F1C953;
    padding: 24px 25px;
    justify-content: center;
    display: none
}

.bottom-nav {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.bottom-nav ul {
    padding-left: 0;
}

@media(max-width: 375px) {
    .headline-section {
        flex-direction: column;
    }
    h1 {
        font-size: 40px;
    }
    main {
        padding: 70px 15px;
    }
    .top-nav ul {
        display: none
    }
    .headlines-main h2 {
        font-size: 20px;
    }
    .headlines-main h3 {
        font-size: 18px;
    }
    .destination-section h3 {
        font-size: 20px;
    }
    .destination-section {
        gap: 40px;
    }
    .share-arrow {
        transform: rotate(16deg);
        width: 80px;
        height: 80px;
    }
    .copyrights {
        flex-direction: column-reverse;
        gap: 8px;
        font-size: 16px;
    }
    footer {
        padding: 30px 24px;
    }
    .social-media-logo {
        width: 24px;
        height: 24px;
    }
    .footer-section {
        align-items: flex-end;
    }
    .bottom-menu {
        display: block;
    }
}